.RightFormPart {
  background: #FDFDFD;
  border-radius: 16px;
  width: 100%;
}

.wrapper {

}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 24px;
}

.header {
  font-size: 24px;
  padding-bottom: 16px;
  font-weight: 600;
  width: 100%;
  text-align: left;
  border-bottom: var(--color4) 1px solid;
}

.btn {
  color: var(--color6);
  background: var(--color1);
  border-radius: 50px;
  padding: 12px 42px;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border: none;
  margin-top: 15px;
  &:hover {
    color: var(--color1);
    background: var(--color6);
    border: var(--color1) 1px solid;
  }
}