.DefinedLayout{
  background: var(--color5);
  min-height: 100%;
  padding-bottom: 32px;
}
.wrapper{
  min-height: calc(100vh - var(--header-height));
  max-width: var(--container-width);
  margin: 0 auto;
}
.DefinedLayout{
  background: var(--color5);
  min-height: 100vh;
}
