.ProfilePage{

}
.backLink{
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  gap: 8px;
  margin: 20.5px 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--color2);
  &:hover{
    filter: invert(47%) sepia(84%) saturate(438%) hue-rotate(144deg) brightness(96%) contrast(87%);
  }
  &:active{
    filter: invert(35%) sepia(0%) saturate(72%) hue-rotate(167deg) brightness(99%) contrast(97%);
  }
}