.wrapper{
  width: 280px
}
.input{
  outline: none;
  background: none;
  border: none;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  border-bottom: var(--color4) 1px solid;
  padding-bottom: 10px;
  color: var(--color3);
  &:hover{
    &::placeholder{
      color: var(--light-blue);
      font-weight: 500;
    }
  }
  &:focus{
    &::placeholder{
      color: var(--color1);
      font-weight: 600;
    }
  }
}
@media(max-width: 375px){
  .wrapper{
    width: 287px
  }
  .input{
    font-size: 14px;
    border-bottom: var(--color4) 1px solid;
    padding-bottom: 10px;
  }
}


