.Header {
  height: var(--header-height);
  background: var(--color6);
}

.wrapper {
  margin: 0 auto;
  max-width: var(--container-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.icons {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 2px;
}

.icon {
  &__heart {
    cursor: pointer;
    &:hover{
      filter: invert(47%) sepia(84%) saturate(438%) hue-rotate(144deg) brightness(96%) contrast(87%);
    }
    &:active{
      filter: invert(35%) sepia(0%) saturate(72%) hue-rotate(167deg) brightness(99%) contrast(97%);
    }
  }

  &__bell {
    cursor: pointer;
    &:hover{
      filter: invert(47%) sepia(84%) saturate(438%) hue-rotate(144deg) brightness(96%) contrast(87%);
    }
    &:active{
      filter: invert(35%) sepia(0%) saturate(72%) hue-rotate(167deg) brightness(99%) contrast(97%);
    }
  }
}

.person {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 8px;

  &__photo {
    cursor: pointer;

    img {
      height: var(--person-pic-size);
      width: var(--person-pic-size);
      object-fit: cover;
      border-radius: 50%;

    }
  }

  &__name {
    cursor: pointer;
    color: var(--color2);
  }
}