.LeftFormPart{
  width: 360px;
  background: var(--color6);
  border-radius: 16px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.picture__block{
  img{
    width: 280px;
    height: 485px;
    object-fit: cover;
    border-radius: 8px;
  }
  margin-bottom: 40px;;
}
.metadata{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header{
  border-bottom: var(--color4) 1px solid;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
@media (max-width: 375px) {
  .LeftFormPart{
    width: 343px;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .picture__block{
    img{
      width: 287px;
      height: 187px;
    }
    margin-bottom: 20px;;
  }
  .metadata{
    gap: 20px;
  }
  .header{
    font-size: 14px;
  }
}