:root {
    --color6: #FDFDFD;
    --color5: #F4F4F4;
    --color4: #DADADA;
    --color3: #9C9C9C;
    --color2: #595959;
    --color1: #161616;
    --light-blue: #22A0BC;
    --header-height: 56px;
    --container-width: 1160px;
    --person-pic-size: 20px;
    --user-picture-size-w: 112px;
    --user-picture-size-h: 120px;
    --dropDown-width: 200px;
    --dropdown-fz: 16px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

body {
    font-family: "Manrope", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    color: var(--color1);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
